[Desktop Entry]
##  The name of the application ##
Name=Shadowpuppet
GenericName=Convert PNG to OBJ

## A comment which act as a tooltip ##
Comment=Create and preview depthmaps using bitmap photos.

## The executable of the application with optional args ##
## You can state full path too ##
Exec=shadowpuppet

## State the name of the icon that will be used to display this entry ##
Icon=icon-shadowpuppet

## Is it a terminal app? For example htop will be set as Terminal=True ##
## Then default terminal app will be used to open the 'htop' ##
Terminal=false

##  The type as listed  ##
Type=Application
